{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{%static 'user/css/style.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Choice</title>
  
</head>
<body>
    <div class="container">
        <h2>Choose Login Method</h2>
        <a href="{% url 'user:login_by_email' %}" class="button">Login by Email</a>
        <br>
        <a href="{% url 'user:login_by_phone' %}" class="button">Login by Phone</a>
    </div>
</body>
</html>
